$background-color: radial-gradient(circle, #ffffff 0%, #f7fafd 47%, #e9edf1 100%);
$form-color-white: #ffffff;
$form-color-grey: #dedede;
$form-color-main: #5ddbff;
$form-color-secondary: #113b63;
$button-background-color: linear-gradient(90deg, #26d2ff 0%, #50d8ff 73%, #71e2ff 100%);

$title-font: 'Trebuchet MS', 'Lucida Sans', Arial, sans-serif;
$main-font: Helvetica, sans-serif;
